


html{
  font-family: sans-serif;
  width:100%;
  height:100%;
  background:#636363;
}

#root{
    background:#636363;
}
.grid{
    margin: 4em auto;
    background:linear-gradient(#f7aeb7, #ffcccc, #ffeee6);
}

table{
  border-collapse:collapse;
  border-spacing: -1 !important;
}

td{
  margin:0;
  padding:0px;
  min-width: 2em;
  width: 2em;
  height: 2em;
  text-align: center;
}

.wall:before{
    content: "1";
}

.tunnel:before{
    content: "0";
}

.wall{
  background:#636363;
}

.tunnel{
    background:transparent;
}
/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
  td{
    min-width: 2em;
    width: 2em;
    height: 2em;
    font-size: .4em;
  }

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
  td{
    min-width: 2em;
    width: 2em;
    height: 2em;
    font-size: .6em;
  }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  td{
    min-width: 2em;
    width: 2em;
    height: 2em;
    font-size: 1em;
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  td{
    min-width: 2em;
    width: 2em;
    height: 2em;
    font-size: 1em;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
  td{
    min-width: 2em;
    width: 2em;
    height: 2em;
    font-size: 1em;
  }
}
